*{
    margin: 0;
    padding: 0;
    color: #000000;
}
body{
   background-color: #e49cc4;
}
.main0{
   display: flex;
   flex-direction: column;
}
#main1{
   display: flex;
   flex-direction: column;
}
.main2{
   display: flex;
   flex-direction: row;

}
.welcome{
   display: flex;
   flex-direction: column;
   width:  830px;
   height: 870px;
   border: 3px;
   border-bottom-right-radius: 150px;

   background-image:url(bg2.png); ;


}
 #navbar{
    height: 40px;
    width:  800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    top: 0;
   justify-content: flex-start; 
   gap: 20px;


   
 }
 

a{
   text-decoration: none;
}
    

 
 .logo{
    height: 50px;
    width: 150px;
    color: #ffffff;
    font-size: 500px;
   
    




 }

 .home{
    color: #ffffff;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 5px;
    padding-top: 7px;
    margin-right: 50px;
    margin-left: 250px;



 }
 
 

 .dating{
    color: #ffffff;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 5px;
    margin-right: 3px;
    padding-top: 7px;


 }

 .user{
    color: #ffffff;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 50px;
    padding-top: 7px;

 }

 
 


.slogan{
   color: #ffffff;
   margin-top: 97px;
   margin-left: 30px;
   display: flex;
   flex-direction: row;
   font-weight: 50;
   font-size: 50px;
   font-family: "Rubik Moonrocks", sans-serif;


}

.ragis{
   display: inline-block;
   height: 30px;
   width: 100px;
   background-color: #058dc2 ;
   border: 0px;
   border-radius: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 70px;
   margin-top: 200px;

   
}
.log_in{
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: black;
   height: 200px;
   /* background-color: beige; */
   margin-left:100px ;
   margin-top: 150px;
   /* margin-bottom: 30px; */


}

.form_group1{
   color: black;
   margin-bottom: 20px;
   margin-top: 20px;
}
.form_group2{
   color: black;
}

.checkbox{
   display: flex;
   flex-direction: row;
   color: #ffffff;
   
}
.Forget1{
   margin-bottom: 5px;
   margin-top: 5px;
   color: blue;
   text-decoration: underline;
}

.submit{
   color: rgb(255, 255, 255);
   background-color: rgba(227, 0, 121, 0.679);
   border: 0;
   border-radius: 4px;
   width:60px;
   height: 25px;
   margin-top: 10px;
   margin-left: 60px;
   

}

.active_user{
   width: 60px;
   height: 60px;
   color: #ffffff;
   margin-top: 50px;
   margin-left: 70px;
}

/* #forget{
   display: flex;
   flex-direction: row; */
   /* margin-top: 10px; */
/* } */


.dating2{
   /* color: black; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 200px;

}

#looking1{
   background-color: #058dc2;
   margin-right: 30px;
   /* height: 30px; */
   width: 150px;
   border: 0px;
   border-radius: 20px;
   display: flex;
   align-items: center;
   justify-content: center;

}

#looking2{
   background-color: #d867a5;
   height: 30px;
   width: 150px;
   border: 0px;
   border-radius: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}


#looking{
   display: flex;
   flex-direction: row;
   margin-top: 20px;
}



input{
   background-color: #ffffff62;
   padding: 10px;
   border-radius: 7px;
   border: none;
}

#footer{
   background-color: rgba(247, 61, 135, 0.639);
   display: flex;
   flex-direction: column;
   height: 200px;
   text-decoration: underline;
   /* margin-left: 60px; */
}

#about{
   color: rgb(55, 53, 53);
   /* margin-left: 30px; */
   margin-bottom: 5px;
   font-size: 20px;
   text-decoration: none;

}

#footerr{
   display: flex;
   flex-direction: column;
   margin-left: 60px;
   margin-top: 30px;
   padding-bottom: 8px;
}
