*{
    padding: 0px;
    margin: 0px;
}

body{

    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
.pro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 100px;


}

.main3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

#userr{
    background-color: rgb(212, 24, 140);
    color: #ffffff;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
